@charset "UTF-8";

/*VERSÃO DESKTOP FIRST*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Harmond Display';
    src: url(../fontes/Harmond/Harmond-ExtBdItaExp.otf);
}

@font-face {
    font-family: 'Wagon';
    src: url(../fontes/Wagon/Wagon-Bold.otf);
}

:root {
    --navy: #2F4156;
    --skyblue: #C8D9E6;
    --teal: #567c8d;
    --beige: #f5efeb;
    --white: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--beige);
    font-family: 'Montserrat';
    font-weight: 500;
}

header {
    background-color: var(--beige);
    height: 65px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.118);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0;
}

nav {
    display: flex;
    padding-right: 30px;
}

header > nav > a {
    text-decoration: none;
    color: var(--teal);
    padding: 10px;
    font-size: 1em;
}

header > nav > a:hover {
    text-decoration: underline;
}

section#sobre {
background-color: var(--beige);
height: 728px;
display: flex;
flex-flow: row nowrap;
justify-content: space-evenly;
align-items: center;
padding: 20px;
}

div#textos-sobre {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    font-family: 'Montserrat';
    font-size: 1em;
    color: var(--teal);
    line-height: 1.5em;
    text-align: justify;
}

.titulos {
    font-family: 'Wagon';
    font-size: 5em;
    margin-bottom: 30px;
}

 img#avatar {
    height: 400px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.118);
 }

section#tecnologias {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--navy);
    height: 778px;
    padding: 10px;
    color: var(--beige);
}

div.container-tec {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2#titulo-tec {
    text-align: center;
    color: var(--beige);
    text-decoration: underline;
    margin-top: 100px;
}

.item-tec {
    background-color: var(--navy);
    transition: height 1s, width 1s;
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.118);
}

.item-tec:hover {
    height: 220px;
    width: 220px;
    transition: height 1s, width 1s;
}

section#tecnologias img {
    height: 150px;
    margin: 30px;
} 

div.container-tec p {
    font-family: 'Montserrat';
    font-size: 1em;
    color: var(--teal);
    margin-top: 15px;
}