@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F4F2F3;

}

header{
    background-color: #252525;
    color: #F4F2F3;
    height: 50px;
    
}

header > p{
    text-align: end;
    padding-top: 14px;
    padding-right: 50px;
    font-family: 'Manrope';
    
}


#titulo{
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
}


#areasobre{
    padding: 100px;
    background-color: #252525;
    color: #F4F2F3;
    margin-top: 300px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.307);
}

input{
    margin-left: 50px;
    width: 5px;
}

h1{
    text-align: center;
    margin-top: 250px;
}

h2{
    text-align: center;
    color: blueviolet;
    text-shadow: 1px 1px 25px rgba(0, 0, 0, 0.307);
}