@charset "UTF-8";

:root {
    --navy: #2F4156;
    --skyblue: #C8D9E6;
    --teal: #567c8d;
    --beige: #f5efeb;
    --white: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}