@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Harmond Display';
    src: url(../fontes/Harmond/Harmond-ExtBdItaExp.otf);
}

@font-face {
    font-family: 'Wagon';
    src: url(../fontes/Wagon/Wagon-Bold.otf);
}

.material-symbols-outlined {
    animation: subirDescer 2s infinite;
    margin-top: 50px;
    color: var(--teal);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@keyframes subirDescer {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

:root {
    --navy: #2F4156;
    --skyblue: #C8D9E6;
    --teal: #567c8d;
    --beige: #f5efeb;
    --white: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--beige);
    font-family: 'Montserrat';
    font-weight: 500;
}

header {
    background-color: var(--beige);
    height: 65px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.118);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0;
}

nav {
    display: flex;
    padding-right: 30px;
}

header > nav > a {
    text-decoration: none;
    color: var(--teal);
    padding: 10px;
    font-size: 1em;
}

header > nav > a:hover {
    text-decoration: underline;
}

section#inicio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 728px;
}

.titulo-inicio {
    color: var(--teal);
    font-size: 5em;
    text-align: center;
    font-family: 'Wagon';
}

.descricao {
    font-family: 'Montserrat';
    font-size: 1em;
    color: var(--teal);
}

section#projetos {
    display: flex;
    flex-flow: column nowrap;
    height: 728px;
    background-color: var(--navy);
    color: var(--white);
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.118);
    text-align: center;
}

h2#titulo-projetos {
    text-align: center;
    color: var(--beige);
    text-decoration: underline;
}

div#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.item-projeto {
    background-color: var(--navy);
    transition: height 1s, width 1s;
    height: 300px;
    width: 200px;
    text-align: center;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.118);
    padding-top: 20px;
}

.item-projeto:hover {
    height: 320px;
    width: 220px;
    transition: height 1s, width 1s;
}

#projeto1{
    background: url(/imagens/printprojetologin.jpg);
    background-size: cover;
    background-position: center center;
    
}

footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 729px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.118);
    /*height: 663px;*/
}

footer h2 {
    color: var(--teal);
    font-size: 5em;
    text-align: center;
    font-family: 'Wagon';
}

p#pergunta-rodape {
    font-family: 'Montserrat';
    font-size: 1em;
    color: var(--teal);
}

div#container-contato {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

#pergunta-rodape {
    text-align: center;
}

.item-contato {
    padding: 30px;
    color: var(--teal);
    text-decoration: none;
    font-size: 1em;
}

.item-contato:hover {
    text-decoration: underline;
}

div#espaco {
    background-color: var(--beige);
    color: var(--beige);
    height: 50px;
}


p#local {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 0.9em;
    color: var(--teal);
}